body
{    background-color: blue;
    font-family:'comic sans Ms';
text-anchor: red;
}
h1 {
    font-family: 'Nerko One';
}
p {
    line-height: 1.5;
}
img {
    padding: 1em 0;
}
a {
    color: yellow;
}
